<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>th.co.techberry.servlet.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPassword</servlet-name>
  	<display-name>ForgotPassword</display-name>
  	<description></description>
  	<servlet-class>th.co.techberry.servlet.ForgotPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangePassword</servlet-name>
  	<display-name>ChangePassword</display-name>
  	<description></description>
  	<servlet-class>th.co.techberry.servlet.ChangePassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Profile</servlet-name>
  	<display-name>Profile</display-name>
  	<description></description>
  	<servlet-class>th.co.techberry.servlet.Profile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Leave</servlet-name>
  	<display-name>Leave</display-name>
  	<description></description>
  	<servlet-class>th.co.techberry.servlet.Leave</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>News</servlet-name>
  	<display-name>News</display-name>
  	<description></description>
  	<servlet-class>th.co.techberry.servlet.News</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Holiday</servlet-name>
  	<display-name>Holiday</display-name>
  	<description></description>
  	<servlet-class>th.co.techberry.servlet.Holiday</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkingTime</servlet-name>
  	<display-name>WorkingTime</display-name>
  	<description></description>
  	<servlet-class>th.co.techberry.servlet.WorkingTime</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DayOff</servlet-name>
  	<display-name>DayOff</display-name>
  	<description></description>
  	<servlet-class>th.co.techberry.servlet.DayOff</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Team</servlet-name>
  	<display-name>Team</display-name>
  	<description></description>
  	<servlet-class>th.co.techberry.servlet.Team</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeInfomation</servlet-name>
  	<display-name>EmployeeInfomation</display-name>
  	<description></description>
  	<servlet-class>th.co.techberry.servlet.EmployeeInfomation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Employee_mgmt</servlet-name>
  	<display-name>Employee_mgmt</display-name>
  	<description></description>
  	<servlet-class>th.co.techberry.servlet.Employee_mgmt</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Role</servlet-name>
  	<display-name>Role</display-name>
  	<description></description>
  	<servlet-class>th.co.techberry.servlet.Role</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Company</servlet-name>
  	<display-name>Company</display-name>
  	<description></description>
  	<servlet-class>th.co.techberry.servlet.Company</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Position</servlet-name>
  	<display-name>Position</display-name>
  	<description></description>
  	<servlet-class>th.co.techberry.servlet.Position</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MeetingRoomBooking</servlet-name>
  	<display-name>MeetingRoomBooking</display-name>
  	<description></description>
  	<servlet-class>th.co.techberry.servlet.MeetingRoomBooking</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TimeSheet</servlet-name>
  	<display-name>TimeSheet</display-name>
  	<description></description>
  	<servlet-class>th.co.techberry.servlet.TimeSheet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Location</servlet-name>
  	<display-name>Location</display-name>
  	<description></description>
  	<servlet-class>th.co.techberry.servlet.Location</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChargeCode</servlet-name>
  	<display-name>ChargeCode</display-name>
  	<description></description>
  	<servlet-class>th.co.techberry.servlet.ChargeCode</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckInCheckOut</servlet-name>
  	<display-name>CheckInCheckOut</display-name>
  	<description></description>
  	<servlet-class>th.co.techberry.servlet.CheckInCheckOut</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPassword</servlet-name>
  	<url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePassword</servlet-name>
  	<url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Profile</servlet-name>
  	<url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Leave</servlet-name>
  	<url-pattern>/Leave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>News</servlet-name>
  	<url-pattern>/News</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Holiday</servlet-name>
  	<url-pattern>/Holiday</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkingTime</servlet-name>
  	<url-pattern>/WorkingTime</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DayOff</servlet-name>
  	<url-pattern>/DayOff</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Team</servlet-name>
  	<url-pattern>/Team</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeInfomation</servlet-name>
  	<url-pattern>/EmployeeInfomation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Employee_mgmt</servlet-name>
  	<url-pattern>/Employee_mgmt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Role</servlet-name>
  	<url-pattern>/Role</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Company</servlet-name>
  	<url-pattern>/Company</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Position</servlet-name>
  	<url-pattern>/Position</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MeetingRoomBooking</servlet-name>
  	<url-pattern>/MeetingRoomBooking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TimeSheet</servlet-name>
  	<url-pattern>/TimeSheet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Location</servlet-name>
  	<url-pattern>/Location</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChargeCode</servlet-name>
  	<url-pattern>/ChargeCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckInCheckOut</servlet-name>
  	<url-pattern>/CheckInCheckOut</url-pattern>
  </servlet-mapping>
</web-app>
